doctype html
html(lang="en-us")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/semantic/semantic.min.css")
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" defer)
    script(src="/semantic/semantic.min.js" defer)
  body
    .ui.container
      block content
