doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/semantic/semantic.min.css")
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
    script(src="/semantic/semantic.min.js")
  body
    .ui.container
      block content
